
body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.background{
    background-image: url("../assets/fondo10.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
}

.row{
    margin-right: 0;
}
.flex-column{
    background-color:#5d5f70;
    height: 100vh;
    opacity: 0.8; 
}
h1 span {
    position:absolute;
    right:0;
    width:0;
    background:  #9b8d8dd3;;
    border-left: 1px solid #000;
    animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

#miImagenLogo{
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color:#dce0e4;
    background-color: transparent;
    opacity: 1;
}
.format-name{
    font-family: 'Stint Ultra Expanded', cursive;
    color:white;
    margin-top: 1.4em;
    background-color: #9b8d8dd3;
}

/*SECCION SOBRE MI*/
.fotmat-p-AboutMe{
    font-size: 25px;
    color:#30444c;
    font-weight: bolder;
   }
.backgroundTap2{
    background-color:#9eb99aa4;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
#marginTab2{
    padding-left: 0;
    padding-right: 0;
}
.imagen{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #30444c;
}
.format-title-tabs{
    font-family: 'Stint Ultra Expanded', cursive;
    color:white;
    font-size: 50px;
    margin-top:0.5em;
    font-weight: bolder;
}

/*SECCION DE HABILIDADES*/
.backgroundTap3{
    background-color:#dce0e49f;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;;
}
.toolsFormat{
    height: 20vh;
    padding-bottom: 1.8em;
}
.move-left{
    margin-left:1.2em;
}

/*SECCION DE PORTAFOLIO */
.backgroundTap4{
    background-color:#9eb99aa4;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.img-Demo-formt{
    height: 35vh;
    margin-bottom: 1em;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px #30444c;
}
.mobile{
    max-width:100%;
}
.format-title-proyect{
  color:white;
  font-family:'Stint Ultra Expanded', cursive;;
  font-size:30px;
}
div.images-background{
    height: 34vh;
    margin-bottom: 1em;
    border-radius:10px;
    box-shadow: 0px 0px 10px 10px #30444c;
    padding-left: 0;
}
div#imagen1 {
    background-size: cover;
    background-image: url("../assets/demos/20180827_224525.gif");
    background-position: center;
  }
div#imagen {
    background-size: cover;
    background-image: url("../assets/demos/20180828_232223.gif");
    background-position: center;
  }
div#imagen2{
    background-size: cover;
    background-image: url("../assets/demos/20180827_224219.gif");
    background-position: center;
  }
  div#imagen3{
    background-size: cover;
    background-image: url("../assets/demos/20180828_231322.gif");
    background-position: center;
  }
  
  div.info {
    position:absolute;
    overflow:hidden;
    height: 34vh;
    background-color: #30444c07;
    opacity:0.5;
    transition: opacity 0.3s;
    padding-left: 0;
    padding-right: 0;
    color:white;
    text-align: center;
  }
  
  div#imagen:hover div.info,div#imagen1:hover div.info,div#imagen2:hover div.info,div#imagen3:hover div.info {
      background-color:#30444cf6;
      opacity:1;
  }
  
  p.headline {
    position: absolute;
    margin-left: -220px;
    font-size: 1.5rem;
    transition:  0.3s;
  }
  
  div#imagen:hover p.headline,div#imagen1:hover p.headline,div#imagen2:hover p.headline,div#imagen3:hover p.headline {
    margin-left: 140px;
  }

  p.descripcion {
    font-size: 1rem;
    text-align: center;
    margin-top: 220px;
    transition: margin-top 0.4s;
    font-size: 17px;
  }
  
  div#imagen:hover p.descripcion, div#imagen1:hover p.descripcion,div#imagen2:hover p.descripcion,div#imagen3:hover p.descripcion {
    margin-top: 40px;
  }
  .techology{
      color:#3c6e97fb;
      font-weight: bolder;
      font-size:20px;
      text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
  }
  .link-format{
      background-color: #9eb99a;
      color:#3c6e97fb;
      font-size: 18px;
      border-radius: 20px;
      padding-left:1em;
      font-weight: bolder;
  }


/*SECCION DE CONTACTO*/
.backgroundTap5{
    background-color:#dce0e49f;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
form{
    font-size: 18px;
    color: #30444c;
    font-weight: bolder;
}
.btn-submit{
    background-color:  #30444c;
}
.contactImg:hover,.slack-format:hover{
 background-color:#30444c;
 opacity: 0.5;
 box-shadow: 0px 0px 5px 5px #30444c;
}
.contactImg{
   padding: 1.5em;
   width:100px;
}
.slack-format{
    width: 93px;
}
.dowload-cv{
    color:#30444c;
    font-weight: bolder;
}
.dowload-cv:hover{
    transform: scale(1.1);
}
.logo-hover:hover{
    opacity: 0.5;
}
.card-header, .card-footer{
    background-color:  #9eb99a9d;
}



@media (max-width: 540px) {
    .flex-column{
    background-color:#5d5f70;
    height: 10vh;
    opacity: 0.8; 
   
    }
    #format-tab-central{
        padding-right: 0;
        padding-left: 0;
    }
    .formatSpan{
        display: none;
    }
    #miImagenLogo{
        width: 50%;
        margin-top:-1em;
        height: 18vh;
        margin-left:15.5em;
        display:none;
    }
    .format-name{
        margin-top: 3.2em;
        padding-left: 0.7em;
    }
    .fa, .fab, .fal, .far, .fas {
        font-size: 25px;
        color:#9eb99a;
    }
    .alingIcons{
        margin-top:0.7em;
    }
    .fotmat-p-AboutMe{
        font-size: 15px;
    }
    .row{
    margin-left: 0;
    }
    .format-title-tabs{
        font-size: 20px;
        margin-top:0.2em;
    }
    .imagen{
        box-shadow: 0px 0px 10px 10px #30444c;
        height: 30vh;
        width:50%;
        margin-left:110px;
    }
    .toolsFormat{
        width:30%;
        height: 15vh;
        padding-bottom: 1.5em;
    }
    .backgroundTap5{
        position: relative;
        height: auto;
    }
    form{
        margin-left:1.5em;
    }
    .backgroundTap4{
        height: auto;
        position: relative;
    }
    p.descripcion {
        margin-top: 180px;
        font-size: 13px;
      }
    .techology{
        font-size:15px;
        text-shadow: -1px 0 black, 0 1px black,
        1px 0 black, 0 -1px black;
    }
    .link-format{
        font-size: 15px;
        border-radius: 20px;
        padding-left:1em;
        font-weight: bolder;
    }
    .format-title-proyect{
        font-size:20px;
      }
      div#imagen:hover p.headline,div#imagen1:hover p.headline,div#imagen2:hover p.headline,div#imagen3:hover p.headline {
        margin-left: 80px;
      }
      .contactImg, .slack-format{
        width: 20%;
     }
     .contactImg{
         padding:1em;
     }
    .card{
        border:0;
    }
    .col{
        padding:0;
    }
    .move-card{
        margin-left: 0em;
        margin-top:0em;
    }
    .contactImg1{
        width:35%;
    }
    
}

@media (min-width: 768px) {
    form{
        font-size: 15px;
    }
    .format-name{
        font-size: 55px;
        margin-top: 1.4em;
    }
    .alingIcons{
        padding:1em;
        margin-top:0.7em;
        margin-left: 1.5em;
    }
    .formatSpan{
        padding-left: 1.5em;
        font-size: 17px;
        font-family: 'Fascinate Inline', cursive;
        font-weight: bolder;
        color:white;
    }
    
    .fa, .fab, .fal, .far, .fas {
        font-size: 30px;
        color:#9eb99a;
    }
    .fa-female{
        margin-left: 0.4em;
    }
    .fotmat-p-AboutMe{
        font-size: 18px;
    }
    .format-title-tabs{
        font-size: 20px;
    }
    .dowload-cv{
        font-size: 25px;
    }
    .format-title-proyect{
        font-size:15px;
      }
    .tools-move-left {
        margin-left: 2.2em;
    }
    #imagen1, #imagen3{
        margin-left: 25px;
      }
      .move-card{
        margin-left: 4em;
        margin-top:1em;
    }
    .contactImg, .slack-format{
        width: 60%;
     }
     .contactImg,.slack-format{
        padding: 0.5em;
        width:100px;
     }
}

@media (min-width: 992px){
    .alingIcons{
        padding:1em;
        margin-top:0.5em;
        margin-left: 1em;
    }
    .formatSpan{
        padding-left: 0.8em;
        font-size: 18px;
        font-family: 'Fascinate Inline', cursive;
        font-weight: bolder;
    }
    .fa-female{
        margin-left: 0.4em;
    }

    .fa, .fab, .fal, .far, .fas {
        font-size: 35px;
        color:#9eb99a;
    }
    .fotmat-p-AboutMe{
        font-size: 28px;
    }
    .format-title-tabs{
        font-size: 30px;
    }
    form{
        font-size: 18px;
    }
    .dowload-cv{
        font-size: 35px;
    }
    .format-title-proyect{
        font-size:20px;
      }
    form{
        font-size: 13px;
    }
    .tools-move-left {
        margin-left: 4.5em;
    }
       p.descripcion {
        margin-top: 180px;
        font-size: 13px;
      }
    .techology{
        font-size:15px;
        text-shadow: -1px 0 black, 0 1px black,
        1px 0 black, 0 -1px black;
    }
    .link-format{
        font-size: 15px;
        border-radius: 20px;
        padding-left:1em;
        font-weight: bolder;
    }
    .format-title-proyect{
        font-size:20px;
      }
      div#imagen:hover p.headline,div#imagen1:hover p.headline,div#imagen2:hover p.headline,div#imagen3:hover p.headline {
        margin-left: 80px;
      }
      .move-card{
        margin-left: 8em;
        margin-top:1em;
    }
}
@media (min-width: 1280px) {
    .format-name{
        font-size: 85px;
    }
    .alingIcons{
        padding:1em;
        margin-top:1em;
        margin-left: 2em;
    }
    .formatSpan{
        padding-left: 1.3em;
        font-size: 15px;
        font-family: 'Fascinate Inline', cursive;
        font-weight: bolder;
        color:white;
        font-size:20px;
    }
    
    .fa, .fab, .fal, .far, .fas {
        text-align: center;
        font-size: 35px;
    }
    .fa-female{
        margin-left: 0.4em;
    }
    .format-title-proyect{
        font-size:30px;
      }
      form{
        font-size: 18px;
      }
      .tools-move-left {
        margin-left: 4.5em;
    }
    #imagen1, #imagen3{
        margin-left: 55px;
      }
      p.descripcion {
        margin-top: 220px;
        font-size: 17px;
      }
    .techology{
        font-size:20px;
    }
    .link-format{
        font-size: 18px;
    }
    .format-title-proyect{
        font-size:30px;
      }
      div#imagen:hover p.headline,div#imagen1:hover p.headline,div#imagen2:hover p.headline,div#imagen3:hover p.headline {
        margin-left: 140px;
      }
      .move-card{
        margin-left: 10.5em;
        margin-top:5em;
    }
}
